<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>My Profile</title>
    <link rel="stylesheet" href="/theme.css" />
    <link rel="stylesheet" href="/main.css" />
</head>

<body>
<div layout:fragment="content">

    <div class="profile-header">
        <img class="profile-pic-placeholder"
             th:src="${profile != null and profile.profilePicture != null} ? 'data:image/jpeg;base64,' + ${profile.convertImageByteToString()} :
                 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsYYYmIOuieWvw2LUapfA7Catq3e-NyzpWMPjVoZ32pQ&s=10'"
             alt="Profile Picture"/>

        <h2>
            <span th:text="${profile.user.name}">Name</span>'s Profile
        </h2>

        <div th:if="${profile!= null and profile.user != null and profile.user.id != currentUser.id}" class="post-friend-action">
            <form th:action="@{/friends/add}" method="post"
                  th:if="${!currentUserFriendIds.contains(profile.user.id) and !currentUserPendingIds.contains(profile.user.id)}">
                <input type="hidden" name="friendId" th:value="${profile.user.id}"/>
                <input type="hidden" name="currentUserId" th:value="${currentUser.id}"/>
                <button class="add-friend-btn" type="submit">Add Friend</button>
            </form>
            <span class="friends-label" th:if="${currentUserFriendIds.contains(profile.user.id)}">Friends</span>
            <span class="pending-label" th:if="${currentUserPendingIds.contains(profile.user.id)}">Request sent</span>

            <a th:href="@{'/messages/' + ${profile.user.id} + '#bottom-anchor'}" class="friend-btn message-btn">Message</a>
        </div>

    </div>
    <div class="profile-details">
        <p><strong>First name:</strong> <span th:text="${profile.firstName}">First</span></p>
        <p><strong>Last name:</strong> <span th:text="${profile.lastName}">Last</span></p>
        <p><strong>Current location:</strong> <span th:text="${profile.currentLocation}">Location</span></p>
        <p><strong>Hometown:</strong> <span th:text="${profile.hometown}">Hometown</span></p>
        <p><strong>About me:</strong> <span th:text="${profile.aboutMe}">About</span></p>

        <a th:if="${profile.user.id == currentUser.id}"
           th:href="@{/profile/edit}">
            Edit Profile
        </a>
    </div>

    <h2>Activity</h2>

    <div th:if="${#lists.isEmpty(posts)}">
        <p>No posts yet.</p>
    </div>

    <ul>
        <li class="post-box" th:id="${'post-' + post.id}" th:each="post : ${posts}">

            <details class="post-menu">
                <summary class="dots-button">⋮</summary>

                <form th:action="@{'/posts/' + ${post.id} + '/delete'}"
                      method="post">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </details>

            <div class="post-author-container">
                <a th:if="${post.user != null}"
                   th:href="@{'/profile/' + ${post.user.id}}">
                    <img class="profile-pic-placeholder"
                         th:src="${post.user != null and post.user.profile != null and post.user.profile.profilePicture != null} ? 'data:image/jpeg;base64,' + ${post.user.profile.convertImageByteToString()} :
                         'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsYYYmIOuieWvw2LUapfA7Catq3e-NyzpWMPjVoZ32pQ&s=10'"
                         alt="Profile Picture" />
                </a>
                <div class="post-meta">
                    <p class="post-author-text">
                        <a th:if="${post.user != null}"
                           th:href="@{'/profile/' + ${post.user.id}}"
                           th:text="${post.user.name}">
                            Name
                        </a>
                        <strong th:if="${post.user == null}">Guest</strong>
                    </p>
                    <span class="post-timestamp" th:text="${#temporals.format(post.createdAt, 'dd MMM yyyy, HH:mm')}"></span>
                </div>
            </div>
            <p th:text="${post.content}"></p>

            <div th:class="${post.convertedImages.size() == 1} ? 'image-grid single-image' : 'image-grid'"
                 th:if="${post.images != null and !post.images.isEmpty()}">
                <div th:each="image, position : ${post.convertedImages}">
                    <input type="checkbox" th:id="${'image-toggle-' + post.id + '-' + position.index}" class="expand-image" />
                    <label th:for="${'image-toggle-' + post.id + '-' + position.index}" class="image-card">
                        <img th:src="@{'data:image/jpeg;base64,' + ${image}}" alt="Post Image" class="grid-image" />
                    </label>
                </div>
            </div>

            <div class="like-reload" th:id="${'post-' + post.id}">
                <form th:action="@{'/posts/' + ${post.id} + '/likes'}" method="post">
                    <button type="submit">❤️</button>
                    <span th:text="${post.likes.size()} + ' likes'"></span>
                    <span th:if="${post.likes.size()} != 0">
                        | Liked by:
                        <th:block th:each="like, likeStat : ${post.likes}" th:if="${likeStat.index < 2}">
                            <a th:href="@{'/profile/' + ${like.user.id}}" th:text="${like.user.getName()}"></a>
                            <span th:if="${likeStat.index == 0 and post.likes.size() == 2}"> and </span>
                            <span th:if="${likeStat.index == 0 and post.likes.size() > 2}">, </span>
                            <span th:if="${likeStat.index == 1 and post.likes.size() > 2}"> and </span>
                        </th:block>
                        <details class="likes-dropdown" th:if="${post.likes.size() > 2}">
                            <summary class="likes-summary" th:text="${(post.likes.size() - 2) + ' other(s)'}"></summary>
                            <ul class="likes-list">
                                <li th:each="like, likeStat : ${post.likes}" th:if="${likeStat.index >= 2}">
                                    <a th:href="@{'/profile/' + ${like.user.id}}" th:text="${like.user.getName()}"></a>
                                </li>
                            </ul>
                        </details>
                </span>
                </form>
            </div>

            <div>
                <h4 th:text="'Comments (' + ${post.comments.size()} + ')'"></h4>
                <div th:each="comment, commentStat : ${post.comments}"
                     th:if="${commentStat.index < 3}">
                    <a th:if="${comment.user != null}"
                       th:href="@{'/profile/' + ${comment.user.id}}"
                       th:text="${comment.user.name}">
                        Name
                    </a>
                    <strong th:if="${comment.user == null}">Guest</strong>
                    <span th:text="': ' + ${comment.content}"></span>
                    <span th:text="${#temporals.format(comment.createdAt, 'dd MMM, HH:mm')}"></span>
                </div>

                <p class="view-comments" th:if="${post.comments.size() > 3}">
                    <a th:href="@{'/posts/' + ${post.id}}">
                        View all
                        <span th:text="${post.comments.size()}"></span>
                        comments
                    </a>
                </p>

                <form class="comment-form" th:action="@{'/posts/' + ${post.id} + '/comments'}"
                      method="post">
                    <input type="text"
                           name="content"
                           placeholder="Leave a comment..." required/>
                    <button type="submit">Comment</button>
                </form>
            </div>

        </li>
    </ul>

</div>
</body>
</html>