<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>My Profile</title>
  <link rel="stylesheet" href="/theme.css" />
  <link rel="stylesheet" href="/main.css" />
</head>

<body>
<div layout:fragment="content">

  <div th:if="${profiles != null and !#lists.isEmpty(profiles)}">
    <h2>Search results for profiles:</h2>
    <div class="profile-list">
      <div th:each="profile : ${profiles}">
        <img class="profile-pic-placeholder"
             th:src="${profile.user != null && profile.profilePicture != null}
         ? @{/profile/{userId}/image(userId=${profile.user.id})}
         : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsYYYmIOuieWvw2LUapfA7Catq3e-NyzpWMPjVoZ32pQ&s=10'"
             alt="Profile Picture" />
        <strong th:if="${profile.firstName != null and !#strings.isEmpty(profile.firstName)}"
                th:text="${profile.firstName + (profile.lastName != null ? ' ' + profile.lastName : '')}">Found name</strong>

        <a th:href="@{/profile/{id}(id=${profile.user.id})}">View profile</a>
        </div>
    </div>
    </div>

  <br>
  <br>

  <div th:if="${users != null and !#lists.isEmpty(users)}">
    <h2>Search results for email address:</h2>
    <div class="profile-list">
      <div th:each="user : ${users}">
        <img class="profile-pic-placeholder"
             th:src="${user.profile != null && user.profile.profilePicture != null}
        ? @{/profile/{userId}/image(userId=${user.id})}
        : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsYYYmIOuieWvw2LUapfA7Catq3e-NyzpWMPjVoZ32pQ&s=10'"
             alt="Profile Picture" />
        <strong th:text="${user.username}"></strong>

        <a th:href="@{/profile/{id}(id=${user.id})}">View profile</a>

        </div>
    </div>
  </div>

  <div th:if="${searchQuery != null and searchQuery != '' and (profiles == null or #lists.isEmpty(profiles)) and (users == null or #lists.isEmpty(users))}">
    <p>No profiles or email addresses found matching "<span th:text="${searchQuery}"></span>".</p>
  </div>
</div>
</body>
</html>