<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Edit profile</title>
    <link rel="stylesheet" href="/theme.css" />
    <link rel="stylesheet" href="/main.css" />
</head>

<body>
<div layout:fragment="content">
    <div class="edit-profile-page">
        <h2>Edit profile</h2>

        <form class="edit-profile-form" th:action="@{/profile/edit}" th:object="${profile}" method="post" enctype="multipart/form-data">
            <label class="form-group">
                Profile picture: <input type="file" name="imageFile" />
            </label>

            <label class="form-group">
                First name: <input type="text" th:field="*{firstName}" />
            </label>

            <label class="form-group">
                Last name: <input type="text" th:field="*{lastName}" />
            </label>

            <label class="form-group">
                Current location: <input type="text" th:field="*{currentLocation}" />
            </label>

            <label class="form-group">
                Hometown: <input type="text" th:field="*{hometown}" />
            </label>

            <label class="form-group">
                About me: <input type="text" th:field="*{aboutMe}" />
            </label>

            <div class="form-actions">
                <button type="submit">Save changes</button>
                <a th:href="@{/profile}">Cancel</a>
            </div>

        </form>

    </div>
</div>

</body>
</html>